# Logs
logs
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*

# Dependency directories
node_modules

# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Test folder for running app
playground

# MacOS related files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Windows related files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/